<div class="bg">
  <div class="container">
      <h2 class="nav-name center">about us</h2>
      </div>
    </div>
    <div class="about"> 
<div class="container">
  <ul class="tabs-about  list-inline">
    <li><a  ui-sref="about" class="uppercase">about us</a></li>
    <li><a ui-sref="leader"  class="uppercase">leadership</a></li>
    <!--<li><a ui-sref="benefit" class="uppercase">our games at your place</a></li>-->
    <li><a ui-sref="sponsor" class="uppercase">sponsorship and alliance</a></li>
     <li><a ui-sref="careers" class="uppercase">careers</a></li>
  </ul>
   <div class="karting-championship">
  <div class="row">
    <div class="col-md-4">
 <div class="slant-box full-height abouts">
              </div>
    </div>
    <div class="col-md-8">
<div class="slant-box half-height">
                      <h2>smaaash</h2>
                      <p>Brain child of the multi-faceted Mr. Shripal Morakhia, Smaaash offers a lot more than your run-of-the-mill banquet hall and gaming center. It presents an unmatched range of games that offer a superlative virtual-reality experience, and combines the best of sports, music and dining into a highly immersive, interactive, innovative and involved entertainment experience. Smaaash has not only redefined sports entertainment, but also raised the bar for customer engagement. This innovative entertainment and active engagement is what defines Smaaash.</p>
                  </div>
    </div>
  </div>
  </div>
  <div class="karting-championship">
<div class="row">
    <div class="col-md-4">
 <div class="slant-box full-height owner">
              </div>
    </div>
    <div class="col-md-8">
<div class="slant-box half-height">
                      <h2>Chief imagination officer</h2>
                      <p>Shripal Morakhia is the founder of SMAAASH Entertainment Pvt. Ltd. and the owner of iDream Production Pvt. Ltd. Mr. Morakhia brings with him rich, top management level corporate experience, acquired while working for renowned companies viz.</p>
                  </div>
    </div>
  </div>
  </div>
  <div class="karting-championship">
<div class="row">
    <div class="col-md-4">
 <div class="slant-box full-height chief">
              </div>
    </div>
    <div class="col-md-8">
<div class="slant-box half-height">
                      <h2>Mall of America and Smaaash</h2>
                     <p>Since its genesis in 1992, Mall of America has revolutionized the shopping experience and become a leader in retail, entertainment and attractions. Mall of America is one of the top tourist destinations in the country as well as one of the most recognizable brands. Mall of America is located in Bloomington, Minnesota—only 15 minutes from downtown Minneapolis and St. Paul. Mall of America features—520 stores, 50 restaurants and attractions galore, including Nickelodeon Universe®, the nation's largest indoor theme park, and the American Girl store. Choosing Mall of America as its first United States location, Smaaash is India's much acclaimed, world-class gaming and entertainment center that connects sports, virtual reality and dining into a highly interactive and innovative social experience for family, friends and children alike. The triple ‘A’ of Smaaash reflects its excitement quotient and aptly stands for ‘America’s Adrenaline Arena.’
</p>
                  </div>
    </div>
  </div>
  </div>
     
  <!--<div class="row">
    <div class="articles">
      <div class="slant-row">
          <div class="slant-col brand-black">
              <div class="slant-box full-height">
                <figure>
                  <img src="img/karting/black.png" class="img-responsive" alt="Smaaash">
                </figure>
              </div>
          </div>
          <div class="slant-column pull-right">
                  <div class="slant-box half-height">
                      <h2>smaaash</h2>
                     <p>Shripal Morakhia is the founder of SMAAASH Entertainment Pvt. Ltd. and the owner of iDream Production Pvt. Ltd. Mr. Morakhia brings with him rich, top management level corporate experience, acquired while working for renowned companies viz.</p>
                  </div>
          </div>
      </div>
  </div>
</div>-->

</div>

    </div>
