<div class="events1 careers">
     <div class="backg-eve">
      <div class="container">
         <h2 class="nav-name center">careers</h2>
      </div>
   </div>
      <div class="container">
      <div class="new">
              <ul class="tabs-about  list-inline">
    <li><a  ui-sref="about" class="uppercase">about us</a></li>
    <li><a ui-sref="leader"  class="uppercase">leadership</a></li>
    <!--<li><a ui-sref="benefit" class="uppercase">our games at your place</a></li>-->
    <li><a ui-sref="sponsor" class="uppercase">sponsorship and alliance</a></li>
     <li><a ui-sref="careers" class="uppercase">careers</a></li>
  </ul>
   </div>
   <div class="career-info">
           <p></p>
           <p></p>
   </div>
   <div class="career-options">
           <div class="row">
                   <div class="col-md-3">
<a href=""><img src="" alt=""></a>
                   </div>
                   <div class="col-md-3">
<a href=""><img src="" alt=""></a>
                   </div>
                   <div class="col-md-3">
<a href=""><img src="" alt=""></a>
                   </div>
                   <div class="col-md-3">
<a href=""><img src="" alt=""></a>
                   </div>
           </div>
   </div>
   <div class="download text-center">
           <p></p>
           <div class="button-sets">
<button class="uppercase large green">download</button>
           </div>
           
   </div>
   </div>
</div>