<div class="drink">
    <div class="backg">
        <div class="container">
            <h2 class="nav-name center">HAVE YOUR BASH AT SMAAASH</h2>
        </div>
    </div>
    <div class="container">
        <div class="new">
            <div class="row" ng-repeat="data2 in drinkParty">
                <div class="col-md-4 col-sm-4" ng-repeat="data in data2">
                    <div class="karting-championship relative">
                        <div class="img-bg">
                            <img ng-src="{{data.homeimage|uploadpath}}" class="img-responsive" alt="" ng-click="gotFunction(data._id)">
                        </div>
                        <!--<div class="restaurants">
                            <span>restaurants</span>
                        </div>-->
                        <div class="new-detail">
                            <div class="min-h">
                                <h3 class="margin0 uppercase" ng-bind-html="data.hometext"></h3>
                            </div>

                            <div class="min-h content-height">
                                <!-- <p>{{data.description | htmlToPlaintext }}</p> -->
                                <p ng-bind-html="data.description|htmlToPlaintext "></p>
                                <!-- <p ng-show="moreDesc[data._id]">{{myDesc| htmlToPlaintext}}</p> -->

                                <div ng-if="!data.description">No description</div>

                                <!-- <span class="capitalize greeny" ng-if="data.description.length "></span> -->
                                <!-- <span class="capitalize greeny" ng-if="data.description.length > 130 && !moreDesc[data._id]" ng-click="readMore(data._id,$index)">read more</span> -->
                                <!-- <span class="capitalize greeny" ng-if="data.description.length > 130 && moreDesc[data._id]" ng-click="readMore(data._id,$index)">read less</span> -->
                            </div>


                            <!-- <div class="min-h">
                                <p ng-hide="moreDesc[index]">{{data.description | htmlToPlaintext | shorten:130}}</p>
                                <p ng-show="moreDesc[index]">{{myDesc| htmlToPlaintext}}</p>

                                <div ng-if="!data.description">No description</div>

                                <span class="capitalize greeny" ng-if="data.description.length > 130 && !moreDesc[index]" ng-click="readMore(data._id,$index)">read more</span>
                                <span class="capitalize greeny" ng-if="data.description.length > 130 && moreDesc[index]" ng-click="readMore(data._id,$index)">read less</span>
                            </div> -->


                            <!--<div class="zomato-reviews">
                                <div class="widget_wrap" style="width:auto;height:auto;">
                                    <a href="https://www.zomato.com/mumbai/smaaash-lower-parel?utm_source=referral-widget-43839&utm_medium=review_badge&utm_campaign=widget-business"
                                        target="_newtab"><img src="https://www.zomato.com/widgets/review_badge?badge_type=rating_large&res_id=43839&widget_lang=en"></a>
                                </div>

                            </div>-->
                            <!--<div class="tripadvisor-reviews">
                                <div id="TA_cdsratingsonlynarrow538" class="TA_cdsratingsonlynarrow">
                                    <ul id="4rNor49RNs" class="TA_links UJgkHXwRXLq">
                                        <li id="bmppvPsvl" class="lryYtmp">
                                            <a target="_blank" href="https://www.tripadvisor.in/"><img src="https://www.tripadvisor.in/img/cdsi/img2/branding/tripadvisor_logo_transp_340x80-18034-2.png"
                                                    alt="TripAdvisor" /></a>
                                        </li>
                                    </ul>
                                </div>




                            </div>-->
                            <div class="button-set inline-block">
                                <!-- <ul class="social-icons list-inline inline-block">
                                    <p class="inline-block">Share</p>
                                    <li>
                                        <a
                                         ng-href="https://www.facebook.com/sharer/sharer.php?u={{myUrl|urlEncode}}" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                                    </li>
                                    <li>
                                        <a ng-href="https://twitter.com/intent/tweet?url={{myUrl|urlEncode}}" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                                    </li>

                                </ul> -->
                                <!-- <div class="more inline-block">


                                    <button class="uppercase green" ng-click="getGallery(data._id);">Gallery</button>

                                </div> -->
                            </div>
                            <div class="button-sets inline-block" ng-if="data.pdf">
                                <button class="uppercase larger green" ng-click="pdfmodal(data.pdf);">Menu</button>
                            </div>
                            <div class="button-sets inline-block" ng-if="data._id==='57e13248d32ecf3237dcf36a'">
                                <button class="uppercase larger green" ng-click="gotFunction(data._id)">know more</button>
                            </div>
                            <!-- <div class="button-sets inline-block">
                               <button class="uppercase large green" ng-click="bookings();">reservations</button>
                               <button class="uppercase larger green" ng-click="pdfmodal(data.pdf);" ng-if="data.pdf">Menu</button>
                           </div> -->
                            <div class="love" ng-if="data.sublink">
                                <a href={{data.sublink}} target="_blank">
                                    <button class="uppercase" ng-if="data.sublink">know more</button>
                                </a>
                            </div>
                            <!-- <div class="love" ng-click="gotFunction(data._id)" ng-if="data._id==='57e13248d32ecf3237dcf36a'">
                                <a target="_blank">
                                    <button class="uppercase" >know more</button>
                                </a>
                            </div> -->
                            <div ng-if="data.hometext === 'Food' || data.hometext === 'Drinks'">
                                <div class="static-p">
                                    <!-- <p>the hours for Recharge Bar & Café</p> -->
                                    <h5 class="bold title ">the hours for Recharge Bar & Cafe:</h5>
                                    <p class="m-clear "><strong>Monday - Thursday :</strong> 11 AM - 11 PM</p>
                                    <p class="m-clear"><strong> Friday - Saturday :</strong> 11 AM – 1 PM</p>
                                    <p class="m-clear"><strong> Sunday :</strong> 11 AM – 10 PM</p>


                                </div>
                            </div>
                            <div ng-if="data.hometext!=='Food' && data.hometext!=='Drinks'">
                                <div class="static-p" style="visibility:hidden">
                                    <!-- <p>the hours for Recharge Bar & Café</p> -->
                                    <h5 class="bold title ">the hours for Recharge Bar & Cafe:</h5>
                                    <p class="m-clear "><strong>Monday - Thursday :</strong> 11 am - 11 pm</p>
                                    <p class="m-clear"><strong> Friday - Saturday :</strong> 11 am – 1 am</p>
                                    <p class="m-clear"><strong> Sunday :</strong> 11 am – 10 pm</p>


                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>