 <div class="drink  gift">
 <div class="backg-eve backg-deal">
      <div class="container">
         <h2 class="nav-name center ">gift card</h2>
      </div>
   </div>
   <div class="container">
       <div class="new">
     <div class="row">
           <div class="col-md-6">
               <ul class="pad0">
                   <li class="cards">
                       <figure>
                           <img src="img/gift/card1.jpg" class="img-responsive" alt="">
                       </figure>
                   </li>
                   <li class="cards">
                       <figure>
                           <img src="img/gift/card2.jpg" class="img-responsive" alt="">
                       </figure>
                   </li>
                   <li class="cards">
                       <figure>
                           <img src="img/gift/card3.jpg" class="img-responsive" alt="">
                       </figure>
                   </li>
               </ul>
           </div>
           <div class="col-md-6">
          <div class="practice">
            <form class="form" name="user">
                 <!--ng-submit="assistanceLogin(formData)" ng-if="!formCompleteAssistance"-->
              <h3 class="text-center">gift card</h3>
              <div class="form-group relative">
                <input type="text" class=" form-control" placeholder="Name" name="name" ng-model="formData.name" required>
                <span class="required"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
                <div class="error-msg" ng-show="user.name.$error.required && user.name.$touched">Please Enter Your Name </div>
              </div>
              <div class="form-group relative">
                <input type="email" class=" form-control" placeholder="Email ID" name="email" ng-model="formData.email" required>
                <span class="required"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
                <div class="error-msg" ng-show="user.email.$error.required && user.email.$touched">Please Enter Your Email ID </div>
              </div>
              <div class="form-group relative ">
                <input type="tel" class="form-control" placeholder="Mobile .No" name="mobile" ng-model="formData.mobile" required only-digits
                  maxlength="10" minlength="10">
                <span class="required"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
                <div class="error-msg" ng-show="user.mobile.$error.required && user.mobile.$touched">Please enter your mobile no. </div>
              </div>
  <div class="form-group relative">
                <input type="text" class=" form-control" placeholder="Name of the person you want to
 gift this card" name="hname" ng-model="formData.hname" required>
                <span class="required"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
                <div class="error-msg" ng-show="user.hname.$error.required && user.hname.$touched">Please Enter Your Name </div>
              </div>
               <div class="form-group relative ">
                <input type="tel" class="form-control" placeholder="His/Her Mobile No." name="hmobile" ng-model="formData.hmobile" required only-digits
                  maxlength="10" minlength="10">
                <span class="required"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
                <div class="error-msg" ng-show="user.hmobile.$error.required && user.hmobile.$touched">Please enter your mobile no. </div>
              </div>
              <div class="form-group relative">
                   <span class="required"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
                   <input type="text" placeholder=" Their Address" class="form-control" >


              </div>
              <div class="form-group relative">
 <span class="required"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
                <input type="text" placeholder=" Zip code" class="form-control" >

              </div>
              <div class="form-group">
                <select name="categorydata" class="form-control" ng-model="formData.noofpeople" required>
                           <option ng-selected="true" value=""> Select Gift Card Denomination</option>
                           <option value="$ 20">$ 20</option>
                           <option value="$ 50"> $ 50</option>
                           <option value="$ 100">$ 100</option>
                        </select>

              </div>
              
              <button type="submit" class=" btn6 btn-default block now" ng-disabled="user.$invalid"><img src="img/gift/now.png" class="img-responsive" alt=""></button>
            </form>
            <!--<div class="submit-thank" ng-if="formCompleteAssistance">
              <p class="text-center">Thank You</p>
            </div>-->
          </div>
           </div>
       </div>
       </div>
  
   </div>
   </div>