<div class="events1 sponsors">
   <div class="backg-eve">
      <div class="container">
         <h2 class="nav-name center">sponsorship and alliances</h2>
      </div>
   </div>
   <div class="container">
      <div class="new">
              <ul class="tabs-about  list-inline">
    <li><a  ui-sref="about" class="uppercase">about us</a></li>
    <li><a ui-sref="leader"  class="uppercase">leadership</a></li>
    <!--<li><a ui-sref="benefit" class="uppercase">our games at your place</a></li>-->
    <li><a ui-sref="sponsor" class="uppercase">sponsorship and alliance</a></li>
     <li><a ui-sref="careers" class="uppercase">careers</a></li>
  </ul>
  <div class="coming-soon">
     <!--<h3>Coming Soon</h3>-->
     <p>If you want to tie up with Smaaash Mall of America, for any kind of sponsorship or alliance, please feel free to reach out to us.</p>
   <p>Contact: Sara Jane Wickoern</p>
    <p><span>Email:</span><a href="mailto: sara@smaaashusa.com"> sara@smaaashusa.com</a></p>
  
  </div>
  

         <!--<div class="row" ng-repeat="datas in sponsor1">
            <div class="col-md-4 col-sm-4" ng-repeat="data in datas">
               <div class="karting-championship  marginbot">
                  <div class="brand-blue relative">
                     <img ng-src="{{data.image|uploadpath}}" class="img-responsive" alt="cmo">
                  </div>
                  <div class="new-detail">
                     <div class="heading">
                        <h3 class="margin0 bluey">{{data.name}}</h3>
                        <h3 class="margin0 bluey" ng-if="!data.name">No name</h3>
                     </div>
                     <div class="para-text">
                        <p ng-hide="moreDesc[data._id]">{{data.content | htmlToPlaintext | shorten :130}}</p>
                        <p ng-show="moreDesc[data._id]">{{myDesc | htmlToPlaintext }}</p>
                        <p ng-if="!data.content">No description.</p>
                     </div>
                     <span class="greeny pull-right" ng-if="data.content.length > 130 && !moreDesc[data._id]" ng-click="readMore(data._id)">Read More</span>
                     <span class="greeny pull-right" ng-if="data.content.length > 130 && moreDesc[data._id]" ng-click="readMore(data._id)">Read Less</span>
                  </div>
               </div>
            </div>
         </div>-->
      </div>
      <!--<div class="partners">
         <h3>our esteemed partners</h3>
          <flex-slider flex-slide="datas in rowdata track by $index" manual-controls=".custom-pagination li" animation="slide" animationLoop="true" direction-nav="false">
         <li>
           <div class="row" ng-repeat="data in datas track by $index">
             <div class="col-md-3 col-sm-3 col-xs-12" ng-repeat="d in data track by $index">
               <div class="">
<a href="">
               <img src="{{d.img}}">
            </a>
               </div>
 
             </div>
           </div>
           

         </li>
      </flex-slider>
     
      </div>-->
      <!--<div class="contacts">
         <h3>contact details</h3>
         <p>For further information regarding Sponsorship and Alliances, feel free to get in touch with us</p>
         <div class="row">
            <div class="col-md-3" ng-repeat="data in contact">
               <h3>{{data.name}}</h3>
               <span>{{data.city.name}}</span>
               <div class="telephone">
                  <p class="margin0"><i class="fa fa-phone" aria-hidden="true"></i><span>Telephone</span><a href="tel:+91 9971670476">{{data.mobile}} </a></p>
               </div>
               <div class="email">
                  <p class="margin0"><i class="fa fa-envelope" aria-hidden="true"></i><span>Email</span><a href="mailto:jaydeep.ray@smaaash.in">{{data.email}}</a></p>
               </div>
            </div>
         </div>
      </div>-->
   </div>

</div>
